<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#">Doprava v Praze <span class="fw-normal fs-6 ms-2">| Bakalářská práce</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#about">O projektu</a></li>
                <li class="nav-item"><a class="nav-link" href="#analysis">Analýza</a></li>
                <li class="nav-item"><a class="nav-link" href="#prediction">Predikce</a></li>
            </ul>
        </div>
    </div>
</nav>